.songBarIcon {
  width: 30px;
  height: 30px;
}
.song-thumbnail{
  max-width: 8rem;
}
.volumn-control-icon {
  width: 1rem;
  height: 1rem;
}
.mat-slider{
  cursor: pointer;
}
.volumn-control:not(:hover)  .volumn-slider {
  display: none;
 }
.fit-content-width{
  max-width: fit-content;
}
.fit-content-hight{
  max-height: fit-content;
}

