.songBarIcon {
  width: 30px;
  height: 30px;
}
.song-thumbnail{
  max-width: 8rem;
}
.volumn-control-icon {
  width: 1rem;
  height: 1rem;
}
.mat-slider{
  cursor: pointer;
}
.volumn-control:not(:hover)  .volumn-slider {
  display: none;
 }
/* Tooltip text */
.tooltiptextProgressBar {
  width: fit-content;
  height: fit-content;
  padding: 0.12rem .25rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  top: 1.4rem;
  font-size: xx-small;
  position: absolute;
  z-index: 1;
  left: -300px;
}
/* Tooltip arrow */
/* .tooltiptextProgressBar::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: black transparent transparent transparent;
} */
.fit-content-width{
  max-width: fit-content;
}
.fit-content-hight{
  max-height: fit-content;
}

