<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
            <!-- Name input -->
            <div *ngIf="!isLoginForm" class="form-outline mb-4">
              <label class="form-label" for="name">Name</label>
              <input type="text" id="name" class="form-control form-control-lg" />
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email address</label>
              <input type="email" id="email" class="form-control form-control-lg" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-2">
              <label class="form-label" for="password">Password</label>
              <input type="password" id="password" class="form-control form-control-lg" />
            </div>

            <div *ngIf="!isLoginForm" class="form-outline mb-2">
              <label class="form-label" for="confirmPassword">Confirm assword</label>
              <input type="password" id="confirmPassword" class="form-control form-control-lg" />
            </div>

            <!--toggle forms-->
            <div class="mb-4 d-flex justify-content-between">
              <a class="link" (click)="toggleFormType()">{{isLoginForm ? 'Don\'t have an account?' : 'Already have an account?'}}</a>
              <a class="link ml-auto">Forgot password?</a>
            </div>

            <div class="d-flex">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>